<!--<ul>-->
<!--  <li><a href="/battle?cat=Voyaka">Вояка</a></li>-->
<!--  <li><a href="/battle?cat=Kogtic">Когтик</a></li>-->
<!--  <li><a href="/battle?cat=Mewg">Мяуг</a></li>-->
<!--  <li><a href="/battle?cat=Samewrai">Самяурай</a></li>-->
<!--  <li><a href="/battle?cat=Mewlitvenik">Мяулитвенник</a></li>-->
<!--  <li><a href="/battle?cat=Bulk">Бульк</a></li>-->
<!--</ul>-->
<h1 style="text-align: center; font-weight: bold; font-size: 30px; color: rgb(91 33 182)">  Игрок 2 выбирает </h1>
<div class="choose_container">
  <div>
    <%= image_tag 'bulk.jpg' %>
    <a href="/battle?cat=Bulk">Бульк</a>
  </div>
  <div>
    <%= image_tag 'kogtic.jpg' %>
    <a href="/battle?cat=Kogtic">Когтик</a>
  </div>
  <div>
    <%= image_tag 'mewg.jpg' %>
    <a href="/battle?cat=Mewg">Мяуг</a>
  </div>

</div>
<div class="choose_container">
  <div>
    <%= image_tag 'samewrai.jpg' %>
    <a href="/battle?cat=Samewrai">Самяурай</a>
  </div>
  <div>
    <%= image_tag 'voyaka.jpg' %>
    <a href="/battle?cat=Voyaka">Вояка</a>
  </div>
  <div>
    <%= image_tag 'mewlitvenik.jpg' %>
    <a href="/battle?cat=Mewlitvenik">Мяулитвенник</a>
  </div>
</div>

