<!--<ul>-->
<!--  <li><a href="/choose2?cat=Voyaka">Вояка</a></li>-->
<!--  <li><a href="/choose2?cat=Kogtic">Когтик</a></li>-->
<!--  <li><a href="/choose2?cat=Mewg">Мяуг</a></li>-->
<!--  <li><a href="/choose2?cat=Samewrai">Самяурай</a></li>-->
<!--  <li><a href="/choose2?cat=Mewlitvenik">Мяулитвенник</a></li>-->
<!--  <li><a href="/choose2?cat=Bulk">Бульк</a></li>-->
<!--</ul>-->
<h1 style="text-align: center; font-weight: bold; font-size: 30px; color: rgb(91 33 182)">  Игрок 1 выбирает </h1>
<div class="choose_container">
  <div>
    <%= image_tag 'bulk.jpg' %>
    <div class="w-fit rounded-md bg-purple-300 m-1.5  px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-purple-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-500">
      <%= button_to 'Бульк', '/choose2?cat=Bulk', method: :get %>
    </div>
  </div>
  <div>
    <%= image_tag 'kogtic.jpg' %>
    <div class="w-fit rounded-md bg-purple-300 m-1.5  px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-purple-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-500">
      <%= button_to 'Когтик', '/choose2?cat=Kogtic', method: :get %>
    </div>
  </div>
  <div>
    <%= image_tag 'mewg.jpg' %>
    <div class="w-fit rounded-md bg-purple-300 m-1.5  px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-purple-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-500">
      <%= button_to 'Мяуг', '/choose2?cat=Mewg', method: :get %>
    </div>
  </div>

</div>
  <div class="choose_container">
    <div>
      <%= image_tag 'samewrai.jpg' %>
      <div class="w-fit rounded-md bg-purple-300 m-1.5  px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-purple-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-500">
        <%= button_to 'Самяурай', '/choose2?cat=Samewrai', method: :get %>
      </div>
    </div>
    <div>
      <%= image_tag 'voyaka.jpg' %>
      <div class="w-fit rounded-md bg-purple-300 m-1.5  px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-purple-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-500">
        <%= button_to 'Вояка', '/choose2?cat=Voyaka', method: :get %>
      </div>
    </div>
    <div>
      <%= image_tag 'mewlitvenik.jpg' %>
      <div class="w-fit rounded-md bg-purple-300 m-1.5  px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-purple-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-500">
        <%= button_to 'Мяулитвенник', '/choose2?cat=Mewlitvenik', method: :get %>
      </div>
    </div>
  </div>



